@page
@model F1ClubWeb.Pages.ChangePasswordModel
@{
}
<a asp-page="Profile" class="btn btn-secondary float-left mb-4"><i class="fa fa-chevron-left"></i> Back</a>
<div class="card">
    <div class="card-body">
        <h2 class="card-title mb-4">Change Password</h2>
        <form asp-page-handler="ChangePassword" method="post">
            <div class="form-group">
                <label asp-for="CurrentPassword" for="current-password">Current Password:</label>
                <input asp-for="CurrentPassword" id="current-password" class="form-control" style="width: 50%;" />
                <span asp-validation-for="CurrentPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" for="new-password">New Password:</label>
                <input asp-for="NewPassword" id="new-password" class="form-control" style="width: 50%;" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="RePassword" for="confirm-password">Confirm New Password:</label>
                <input asp-for="RePassword" id="confirm-password" class="form-control" style="width: 50%;" />
                <span asp-validation-for="RePassword"></span>
            </div>

            <input type="hidden" name="userid" value="@Model.LoggedUser.ID" />
            <input type="hidden" name="firstname" value="@Model.LoggedUser.FirstName" />
            <input type="hidden" name="lastname" value="@Model.LoggedUser.LastName" />
            <input type="hidden" name="email" value="@Model.LoggedUser.Email" />
            <input type="hidden" name="password" value="@Model.LoggedUser.Password" />
            <input type="hidden" name="phonenumber" value="@Model.LoggedUser.PhoneNumber" />

            <button type="submit" class="btn btn-danger mt-3">Change Password</button>
        </form>
    </div>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
