@page
@model F1ClubWeb.Pages.GPDetailsModel
@{
}
<div class="container mt-5">
    <h1 class="text-center text-primary">@Model.GP.Circuit.Name</h1>
    <p class="text-center">Date: @Model.GP.DateOfGP.ToShortDateString()</p>
    <p class="text-center">Length: @Model.GP.Circuit.Length km</p>
    <p class="text-center">Number of laps: @Model.GP.Circuit.NumberOfLaps</p>

    @if (!Model.HasResults)
    {
        <h2 class="text-warning text-center">Predictions</h2>
        <div class="row">
            @foreach (var prediction in Model.PodiumPrediction)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@prediction.driver.FullName</h5>
                            <p class="card-text">Team: @prediction.driver.Team.Name</p>
                            <p class="card-text">Predicted position: @prediction.predictedPosition</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        @if (Model.PastResults != null)
        {
            <h2 class="text-success text-center">Results</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Driver</th>
                        <th>Team</th>
                        <th>Max speed</th>
                        <th>Average speed</th>
                        <th>Best lap time</th>
                        <th>Time to finish</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.PastResults)
                    {
                        <tr style="@(result.Place == 1 ? "color: red;" : "")">
                            <td>@result.Place</td>
                            <td>@result.Driver.FullName</td>
                            <td>@result.Driver.Team.Name</td>
                            <td>@result.MaxSpeed km/h</td>
                            <td>@result.AvgSpeed km/h</td>
                            <td>@result.LapTime.Minutes:@result.LapTime.Seconds:@result.LapTime.Milliseconds minute(s)</td>
                            <td>@result.FinishTime.Hours:@result.FinishTime.Minutes:@result.FinishTime.Seconds:@result.FinishTime.Milliseconds hour(s)</td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <p>The results will be posted soon!</p>
        }
    }
    <a href="/GrandPrix" class="btn btn-primary mt-3">Back to Grand Prixes</a>
</div>